body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #eee; }

.m-title {
  height: 30px;
  line-height: 30px;
  background: #6F6F6F;
  color: fff; }
  .m-title .name {
    text-align: left;
    font-size: 20px;
    float: left;
    width: 173px; }
  .m-title .detail {
    font-size: 12px;
    padding: 5px 20px;
    color: #CCC; }

.m-wrapper {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 100%; }
  .m-wrapper .m-menu {
    flex: 1;
    background-color: #272727; }
    .m-wrapper .m-menu .item {
      display: block;
      color: #544c47;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      text-align: center; }
    .m-wrapper .m-menu .item:hover {
      background-color: ccc; }
  .m-wrapper .m-content {
    flex: 2;
    color: #544c47;
    background-color: #eee;
    position: relative; }
    .m-wrapper .m-content .browser-list {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      border-top: 1px solid #CAC6C6; }
      .m-wrapper .m-content .browser-list .browser {
        float: left;
        width: 80px;
        text-align: center;
        height: 18px;
        line-height: 18px;
        cursor: pointer;
        margin: 5px; }
      .m-wrapper .m-content .browser-list .choosed {
        color: #fff;
        background-color: #e97c5f;
        border-radius: 5px; }
    .m-wrapper .m-content .detail .info {
      background: #F2F2F2;
      line-height: 20px;
      padding: 20px;
      margin: 20px;
      border: 1px dotted #666;
      border-radius: 5px; }
    .m-wrapper .m-content .detail .info p {
      font-size: 12px;
      margin: 10px 0;
      color: #807474; }
    .m-wrapper .m-content .detail .operate {
      height: 50px;
      margin-top: 20px;
      text-align: center; }
      .m-wrapper .m-content .detail .operate #open_btn {
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid gray;
        color: #fff;
        background-color: #24ae6f;
        cursor: pointer;
        outline: none; }

#inset {
  width: 100%;
  height: 100%;
  background: #474747;
  display: table;
  color: #fff; }

#inset h1 {
  text-align: center;
  /*vertical-align: middle;*/
  font-family: "League-Gothic", Courier;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 0px 2px 3px #222; }

.shimmer {
  text-align: center;
  color: rgba(55, 55, 55, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 50px 100%;
  -webkit-background-clip: text;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222; }

@-webkit-keyframes shimmer {
  0% {
    background-position: top left; }
  20% {
    background-position: top right; }
  100% {
    background-position: top right; } }
.configArea {
  margin-left: 20px; }

.config-item {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  font-size: 14px; }

.config-item .label {
  flex: 1; }

.config-item .item {
  flex: 3;
  cursor: pointer; }

.config-item .item .path-text {
  text-decoration: underline;
  cursor: pointer;
  color: #60C7AB; }

.logArea {
  margin: 20px; }

.logArea .logWrapper {
  height: 200px;
  background-color: #808080;
  overflow: auto;
  font-size: 14px;
  padding-left: 20px;
  margin-top: 30px; }

.logArea .logWrapper p {
  height: 20px;
  line-height: 20px; }

.logArea .logWrapper .log {
  color: #fff; }

.logArea .logWrapper .warn {
  color: yellow; }

.logArea .logWrapper .error {
  color: red; }

.logArea .logWrapper .times {
  display: inline-block;
  padding: 1px 2px;
  height: 15px;
  line-height: 15px;
  background-color: #57c6ea;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px; }

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0; }

.loading {
  position: fixed;
  width: 160px;
  height: 160px;
  margin-left: -80px;
  margin-top: -80px;
  z-index: 1000;
  color: #fff;
  top: 50%;
  left: 50%; }

.loading .loaded {
  font-size: 40px;
  margin-top: 10px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
