body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
  margin: 0; padding: 0; border: 0;
}

body {
  background: #eee;
}

.m-title {
  height: 30px;
  line-height: 30px;
  background: #6F6F6F;
  color: fff;

  .name {
    text-align: left;
    font-size: 20px;
    float: left;
    width: 173px;
  }

  .detail {
    font-size: 12px;
    padding: 5px 20px;
    color: #CCC;
  }

}

.m-wrapper {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  .popup-success {
    z-index:999;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-left: -75px;
    margin-top: -25px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #b2f7a1;
    color: #57a743;
    border-radius: 3px;
    font-size: 23px;
  }

  .m-menu {
    flex: 1;
    background-color: #272727;

    .item{
      display: block;
      color: #544c47;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      text-align: center;
    }
    .item:hover {
      background-color: ccc;
    }
  }
  .m-content {
    flex: 2;
    color: #544c47;
    background-color: #eee;
    position: relative;

    .start-content {
      .browser-list {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        border-top: 1px solid #CAC6C6;

        .browser {
          float: left;
          width: 80px;
          text-align: center;
          height: 18px;
          line-height: 18px;
          cursor: pointer;
          margin: 5px;
        }

        .choosed {
          color: #fff;
          background-color: #e97c5f;
          border-radius: 5px;
        }
      }
      .detail {
        .info {
          background: #F2F2F2;
          line-height: 20px;
          padding: 20px;
          margin: 20px;
          border: 1px dotted #666;
          border-radius: 5px;
        }
        .info p {
          font-size: 12px;
          margin: 10px 0;
          color: #807474;
        }
        .operate {
          height: 50px;
          margin-top: 20px;
          text-align: center;

          #open_btn {
            width: 120px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid gray;
            color: #fff;
            background-color: rgb(36, 174, 111);
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
    .host-content {
      .hostManager {
        width: 100%;
        height: 100%;
      }
    }
    .settings-content {
      .setting-list {
        list-style: none;
        padding: 20px;
        margin: 20px;

        .item {
          margin: 10 0px;
          font-size: 12px;
          height: 25px;
          .name {
            float: left;
            height: 20px;
            line-height: 20px;
            width: 100px;
          }
          .value {
            float: left;
            height: 20px;
            line-height: 20px;
          }

        }
        .port {
          input {
            width: 60px;
            text-align: center;
            border: 1px solid #C3C3C3;
            border-radius: 3px;
          }
        }
        .chrome-path {
          .text {
            height: 25px;
            padding: 0 3px;
            width: 200px;
            display: inline-block;
            border: 1px solid #C3C3C3;
            background-color: #fff;
            border-radius: 3px;
            color: #2A2A2A;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .change-btn {
            margin-left: 3px;
            display: inline-block;
            width: 45px;
            height: 20px;
            border-radius: 5px;
            background-color: #CAC7C7;
            cursor: pointer;
            text-align: center;
          }
        }

      }
    }
    .setting-save {
      padding: 0 30px;
      text-align: center;
      position: relative;
      .sure {
        width: 81px;
        height: 33px;
        border: none;
        border-radius: 6px;
        background: #E86A6A;
        color: #fff;
        cursor: pointer;
        outline: none;
      }

      .sure:hover {
        background: #FF8585;
      }
    }
    .log-content {
      .log-times { display: inline-block; padding:1px 2px; height: 15px; line-height: 15px; background-color: rgb(87, 198, 234); border: 1px; border-radius: 5px; text-align: center; margin-right: 5px; }
      .logItem {
        padding: 5px 0;
        margin: 5px 20px;
        border-bottom: 1px solid #ccc;
        height: 25px;
        line-height: 25px;
      }
      .logTime {
        float: right;
        font-style: italic;
        font-size: 12px;
        color: #888;
      }
      .log { color: #555; }
      .warn { cloro: yellow; }
      .error { color: red; }
    }
  }
}
#inset {
  width: 100%; height: 100%;
  background: #474747;
  display: table;
  color: #fff;
}

#inset h1 {
  text-align: center;
  /*vertical-align: middle;*/
  font-family: "League-Gothic", Courier;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 0px 2px 3px #222;

}


.shimmer {
  text-align: center;
  color: rgba(55,55,55,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 50px 100%;
  -webkit-background-clip: text;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  20% {
    background-position: top right;
  }
  100% {
    background-position: top right;
  }
}
.configArea { margin-left: 20px; }
.configArea .config-text { }
.config-item { margin-top:20px; display: flex;flex-flow: row; font-size: 14px; }
.config-item .label{ flex: 1; }
.config-item .item { flex: 3; cursor: pointer; }
.config-item .item .path-text{ text-decoration: underline; cursor: pointer; color: #60C7AB; }
.logArea { margin: 20px;}
.logArea .logWrapper { height: 200px; background-color: #808080; overflow: auto;  font-size: 14px; padding-left: 20px; margin-top: 30px; }
.logArea .logWrapper p { height: 20px; line-height: 20px; }
.logArea .logWrapper .log { color: #fff; }
.logArea .logWrapper .warn { color: yellow ; }
.logArea .logWrapper .error { color: red ;  }
.logArea .logWrapper .times { display: inline-block; padding:1px 2px; height: 15px; line-height: 15px; background-color: rgb(87, 198, 234); border: 1px; border-radius: 5px; text-align: center; margin-right: 5px; }
.mask { position: fixed; width: 100%; height: 100%; z-index: 999; background-color: #000; opacity: 0.5; top: 0; left: 0; }
.loading { position: fixed; width: 160px; height: 160px; margin-left: -80px; margin-top: -80px; z-index: 1000; color: #fff; top: 50%; left: 50%; }
.loading .loaded{ font-size: 40px; margin-top: 10px; text-align: center; }