body {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    cursor: default;
    -webkit-user-select: none;
    line-height: 1.4em;
    font-size: 14px;
    font-family: Verdana;
    color: #362b36;
}

.fl {
    float: left;
}

.selectable {
    -webkit-user-select: text;
}

.hidden {
    display: none !important;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

#content {
    display: inline-block;
    position: relative;
    min-width: 400px;
    min-height: 80px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    width:590px;
}

#content::-webkit-scrollbar {
    width: 12px;
    overflow: visible;
}

#content::-webkit-scrollbar-thumb {
    background-color: rgba(98, 187, 232, .2);
    background-clip: padding-box;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(98, 187, 232, .1), inset 0 -1px 0 rgba(98, 187, 232, .07);
    border: solid 2px transparent;
}

#content::-webkit-scrollbar-track {
    background-clip: padding-box;
}

#content::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

#content::-webkit-scrollbar-track:hover {
    background-color: rgba(98, 187, 232, .05);
    box-shadow: inset 1px 0 0 rgba(98, 187, 232, .1);
}

#content::-webkit-scrollbar-track:active {
    background-color: rgba(98, 187, 232, .05);
    box-shadow: inset 1px 0 0 rgba(98, 187, 232, .14), inset -1px 0 0 rgba(98, 187, 232, .07);
}

#content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(61, 171, 227, .4);
    box-shadow: inset 1px 1px 1px rgba(61, 171, 227, .25);
}

#content::-webkit-scrollbar-thumb:active {
    background-color: rgba(61, 171, 227, 0.5);
    box-shadow: inset 1px 1px 3px rgba(61, 171, 227.35);
}

#content::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    box-shadow: inset 1px 1px 0 rgba(98, 187, 232, .14);
}

#content::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    box-shadow: inset 1px 0 0 rgba(98, 187, 232, .14), inset -1px 0 0 rgba(98, 187, 232, .07);
}

#content.scroll-top {
    box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, .3);
}

#content.scroll-bottom {
    box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, .3);
}

#content ul {
    list-style: none;
    margin: 0;
    padding: .2em 0;
}

#content .blocks {
    padding: 0 12px 0 8px;
}

#content span {
    word-break: break-all;
}

#mask {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.65);
}

#overlay {
    display: -webkit-box;
    -webkit-border-radius: 3px;
    -webkit-box-orient: vertical;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #333;
}

#overlay th {
    padding-bottom: 5px;
}

#overlay input,
#overlay textarea {
    padding: 0 .2em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #666;
}

#overlay textarea {
    min-height: 5em;
}

#overlay span {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 2px 10px;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px 0 #f0f0f0;
}

#overlay span:hover {
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: #000;
}

#titleTip,
#errorTip,
#infoTip {
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: -50px;
    padding: .2em .7em;
    background-color: #000;
    border-radius: 6px;
    opacity: 0;
    -webkit-transition: opacity .4s;
    font-weight: bold;
    white-space: nowrap;
    color: #fff;
}

#titleTip.tip-show {
    opacity: .7;
}

#errorTip,
#infoTip {
    z-index: 6;
    background-color: #cd0a0a;
    opacity: 1;
    -webkit-transition: top .4s;
}

#infoTip {
    background-color: #ffef8f;
    border: solid 1px #f9dd34;
    color: #363636;
}

#errorTip.tip-show,
#infoTip.tip-show {
    top: 0;
}

.panel {
    padding: 8px;
    background: -webkit-linear-gradient(top, #fff 0%, #e3f1fa 20%, #d7ebf9 80%, #fff 100%);
    border-radius: 6px;
    color: #2779aa;
    line-height: 2.4em;
}

.panel .hosts-editor {
    display: inline-block;
    width: 314px;
    height: 28px;
    padding: .1em;
    background-color: #fff;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    color: #333;
}
.panel .header-icon {
    float:  right;
}
.panel .header-icon .editAsFile {

}
.panel .choose-path label{
    display: inline-block;
    width: 50px;
    height: 24px;
    line-height: 23px;
    text-align: center;
    background: #ADADAD;
    border-radius: 6px;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
}
.panel .icon {
    vertical-align: baseline;
    margin-bottom: -4px;
}

.version {
    padding-bottom: .2em;
    text-align: center;
}

#currentIP {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC'), -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-repeat: no-repeat;
    background-position: right center;
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #333;
}

select:hover {
    border-color: rgba(0, 0, 0, 0.4);
    color: #000;
}

.groupFilter {
    height: 40px;
    width: 100px;
    padding: 10px;
    background: -webkit-linear-gradient(top, #fff 0%, #e3f1fa 20%, #d7ebf9 80%, #fff 100%);
    radius: 5px;
}

.groupFilter select {
    line-height: 25px;
}