.dropArea {
    width: 250px;
    padding: 15px 0;
    background: -webkit-linear-gradient(top, #fff 0%, #e3f1fa 20%, #d7ebf9 80%, #fff 100%);
    margin-left: 20px;
    border: 1px solid #d7ebf9;
}

.dropArea.hover {
    background-color: greenyellow;
}

.dropArea .tip {
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.dropArea .canvasW {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.dropArea .canvasW .canvas {
    border: 1px solid greenyellow;
}