@import url("widgets.css");

body {
	background-color: #ccc;
	font-family: Microsoft YaHei;
	font-size: 12px;
	line-height: 2em;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul {
	padding: 15px 0 25px 20px;
}
li {
	padding: 2px 0;
	text-indent: -20px;
}
.pannel {
	width: 400px;
	margin: 40px auto;
	padding: 20px 30px;
	background-color: #f1f1f1;
	border: solid 1px #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 40px 0 #000;
}
.pannel:after {
	display: block;
	content: ' ';
	height: 0;
	clear: both;
	visibility: hidden;
}
.floatright {
	float: right;
}
